.mainContainer {
    width: 100%;
    height: 100%;
    padding: 18px 32px;
    margin-bottom: 2rem;
}
.submitForm {
    width: 100%;
    height: 100%;
    padding: 18px 32px;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: 4px solid #ccc;
    background-color: #f8f8f8;
    font-size: 24px;
    resize: none;
    color: black;
}
.inputfield {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    color: black;
}

.button {
    background-color: #a5c0ff;
    border: none;
    color: black;
    font-weight: bold;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 3px #7d7d7d;
}
.button:hover {
    background-color: #006fb9;
    box-shadow: 0 5px #666;
}
.button:active {
    background-color: #004675;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.questionMessage {
    background-color: #a5c0ff;
    padding: 2rem;
    color: #00233a;
    font-size: 24px;
    font-weight: bold;
    border: #7d7d7d 2px solid;
    box-shadow: 0 3px #666;
}
.answerMessage {
    font-size: 20px;
    background-color: #e4e4e4;
    padding: 2rem;
    color: #00233a;
    border: #7d7d7d 2px solid;
    box-shadow: 0 3px #666;
}

.answerMessage code {
    color: rgb(191, 191, 191);
    font-weight: bold;
    background-color: #1b1b1b;
}

.answerMessage pre {
    border: 4px solid #1b1b1b;
    padding: 1rem;
    box-shadow: #00233a 0 0 10px;
    background-color: #1b1b1b;
  }

  .todoStyles {
    background-color: #a5c0ff;
    padding: 2rem;
    color: #00233a;
    font-size: 24px;
    font-weight: bold;
    border: #7d7d7d 2px solid;
    box-shadow: 0 3px #666;
    margin-bottom: 2rem;
  }